Flask==3.0.3
pandas==2.2.2
matplotlib==3.9.0
numpy==1.26.4
scikit-learn==1.5.0
pytest==8.2.2
openpyxl==3.1.4
SQLAlchemy==2.0.30
requests==2.32.3
beautifulsoup4==4.12.3
googlesearch-python==1.2.3
joblib==1.4.2
xgboost==1.7.6
